/* src/pages/index.module.css */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  
  /* RUTA RELATIVA CORRECTA: Soluciona el error de compilación. */
  background-image: url('../../static/img/lspd-background.jpg'); 
  
  background-size: cover;
  background-position: center 30%; 
  min-height: 65vh; 
  
  /* Superposición para el color azul marino institucional (003366) */
  box-shadow: inset 0 0 0 1000px rgba(0, 51, 102, 0.75); 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}